<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" />
    <meta name="author" />
    <title>category</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="mt-5 text-center">Add User Name</h1>
          <div class="col-lg-6 offset-3">
            <form action="/api/dataadd" method="post">
              <div class="form-group">
                <label for="email">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Enter Name"
                  value="<%= values.name %>"
                />
                <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
                <div style="color: red"><%= error1 %></div>
                <% } %>
              </div>

              <button type="submit" class="btn btn-success">ADD</button>
              <a href="/contactus" class="btn btn-primary">CANCLE</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
